@{
    ViewData["Title"] = "parrot";
}

<div class="ui raised segment">
    <h3 class="ui header">@ViewData["Title"]</h3>
  <p>parrot tells you what's going on on the ship... er... in the cluster.</p>
</div>

<h3>Pods &amp; Statuses</h3>
<ul id="pods">
</ul>

<div class="ui link cards" id="podcards">
</div>

<div style="display:none;" id="podCardTemplate">
  <div class="ui card">
    <div class="image">
      <img src="/media/{{container}}.png">
    </div>
    <div class="content">
      <a class="header">{{container}}</a>
      <div class="meta">
        <span class="date">Pod: {{name}}</span>
        <span class="date">Namespace: {{nameSpace}}</span>
      </div>
      <div class="description">
        <b>Container Image</b>: {{containerImage}}
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="user icon"></i>
        <b>Container Image</b>: {{containerImage}}
      </a>
    </div>
  </div>
</div>

@section scripts
{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  <script src="~/scripts/signalr.min.js"></script>
  <script src="~/scripts/daemon.js"></script>
  <script src="~/scripts/prototypes.js"></script>
}