@{
    ViewData["Title"] = "parrot";
}

<div class="ui raised segment">
    <h3 class="ui header">@ViewData["Title"]</h3>
  <p>parrot tells you what's going on on the ship... er... in the cluster.</p>
</div>

<div class="ui segment">
  <p>User Count: <span id="userCount">0</span></p>
</div>

@section scripts
{
  <script src="~/scripts/signalr.min.js"></script>
  <script src="~/scripts/daemon.js"></script>
}